.bannergroup {
    margin-bottom: 25px;
    display: inline-flex;
    width: 100%;
    margin-top: 25px;
}

.bannergroup div{
    margin-left: 5px;
    margin-right: 5px;
}

.bannergroup .first{
    margin-left: 0px !important;
}
