.ItemCount {
    display: flex;
    justify-content: center;
}

.inputCount>button {
    align-self:flex-end;
}

.inputCount{
    margin: 0;
    width: 15%;
    margin-right: 5px;
    transform: translateX(0%) !important;
}

.inputCount>input{
    margin: 0;
    text-align: center !important;
}

.ButtonBuy{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

